.loading-container {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  background-color: #0074d9; /* Loading bar color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out;
}
