/* HourglassLoader.css */
.hourglass-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50%;
  background-color: #f0f0f0;
  overflow: hidden;
}

.hourglass {
  width: 200px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.glass-top,
.glass-bottom {
  width: 150px;
  height: 30px;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 5px;
}

.glass-bottom {
  top: 200px;
}

.sand {
  width: 150px;
  height: 200px;
  background: linear-gradient(to bottom, #0099ff, transparent);
  position: absolute;
  top: 30px;
  left: 25px;
  animation: sand-fall 2s ease-in-out infinite;
}

@keyframes sand-fall {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(150px);
  }
}
