.calculator {
  width: 320px;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding-right: 4%;
}

.calculator-header {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.display {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: #ccc;
  transform: scale(1.05);
}

.btn-0,
.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6,
.btn-7,
.btn-8,
.btn-9 {
  background-color: #bdc3c7;
  color: #2c3e50;
}

.btn-divide {
  background-color: #f1c40f;
  color: #fff;
}
.btn-multiply {
  background-color: #27ae60;
  color: #191818;
}
.btn-minus {
  background-color: #e67e22;
  color: #fff;
}
.btn-plus {
  background-color: #db3466;
  color: #fff;
}
.btn-equal {
  background-color: #2980b9;
  color: #fff;
}
.btn-C {
  background-color: #c0392b;
  color: #fff;
}
.btn-dot {
  background-color: #7f8c8d;
  color: #fff;
}

.expression {
  font-size: 16px;
  text-align: right;
  margin-top: 10px;
  color: #777;
}
